body {
  background-color: cadetblue;
}

.upgrades {
  border: solid 1px;
  border-radius: 10px;
}

#tutorial {
  position: absolute;
  left: 1%;
  top: 20%;
  width: 15%
}

#up1 {
  position: absolute;
  width: 15%;
  bottom: 30%;
  left: 33%;
}
#up2 {
  position: absolute;
  left: 49%;
  width: 15%;
  bottom: 30%;
}
#up3 {
  position: absolute;
  width: 15%;
  bottom: 23%;
  left: 33%;
}
#up4 {
  position: absolute;
  left: 49%;
  width: 15%;
  bottom: 23%;
}
#buyallbutton {
  position: absolute;
  width: 7.5%;
  height: 12.5%;
  bottom: 9%;
  left: 44.75%;
  border-radius: 50%;
}

#prestigebutton {
  position: absolute;
  right: 0.5%;
  width: 22.5%;
  height: 10%;
  top: 15%;
  border: solid 5px;
  border-radius: 10px;
}

#a2_txt {
  position: absolute;
  left: 36.5%;
  width: 12.5%;
  top: 1%;
}

#a1_txt {
  position: absolute;
  left: 52%;
  top: 1%;
}

#a_txt {
  position: absolute;
  left: 31.5%;
  top: 7.5%;
  width: 7.5%;
}

#b_txt {
  position: absolute;
  left: 40%;
  top: 7.5%;
}

#c_txt {
  position: absolute;
  left: 49%;
  top: 7.5%;
}

#dt_txt {
  position: absolute;
  left: 57%;
  top: 7.5%;
}

#t_txt {
  position: absolute;
  left: 45%;
  top: 15%;
}

#score_txt {
  position: absolute;
  left: 42.5%;
  bottom: 55%;
  font-size: 24px
}

#clickbutton {
  position: absolute;
  left: 35%;
  bottom: 50%;
  width: 25%;
  height: 5%;
  border: solid 4px;
  border-radius: 40px;
}

#mobiledetection {
  position: absolute;
  bottom: 2%;
  left: 35%;
}


.vartext {
  font-family: Courier New;
}

button:active {
  background-color: rgb(172, 172, 172);
}